<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
    <%= f.label :"Name of the Team" , :style => "font-size:18px;" , :class => 'col-xs-4' %>
    <div class="col-xs-8">
    <%= f.text_field :team_name , :class => "form-control" %>
    </div>
    </div>
  </div>

<div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Which research area are you interested in?" , :style => "font-size:18px;" , :class => 'col-xs-12'  %><br>
<center>
<%= f.select :foi, options_for_select(["Selet an area" , " Algebra " , " Analytical Chemistry" , "Astrophysics and Space Sciences" , "Classical Mechanics" , "Condensed Matter Physics and Electronics" , "Differential Equations" , "Electromagnetism and Optics", "Fuzzy Set Theory" , "Industrial Chemistry" , "Inorganic Chemistry ", "Macromolecular Chemistry" ,"Material Science" ,"Nanoscience "," Number Theory" ,"Numerical Analysis" , "Optimization Techniques and Control Theory" , "Organometallic Chemistry ", "Quantum Mechanics and High Energy Physics" , "Real and Complex Analysis" ,"Relativity and Cosmology","Thermodynamics and Statistical Mechanics"]) , :class => "selectpicker"%></center>
</div>
</div>

 <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Why is your team interested in this field of research ?" , :style => "font-size:18px;" , :class => 'col-xs-12' %>

    <%= f.text_area :write_up , :class => "form-control" %>
  </div>
</div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
    <%= f.label :"What is research according to your team?" , :style => "font-size:18px;" , :class => 'col-xs-12'  %><br>
    <%= f.text_area :write_up2 , :class => "form-control" %>
    </div>
  </div>

  
 

  <% if params[:secret] %>
  <div class="field">
    <%= f.label :confirm %><br>
    <%= f.text_field :confirm %>
  </div>
  <div class="field">
    <%= f.label :members %><br>
    <%= f.text_field :members %>
  </div>
  <% end %>

  <% if params[:member].to_s == "1" || params[:member].to_s == "2" || params[:member].to_s == "3"%>
  <div class="row">

  
<div class="col-md-8 col-md-offset-2">
<h3> <center>  Details of Member 1 </center>  </h3>
   <div class="form-group row">
       <%= f.label :"First Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member1_fn , :class => "form-control" %>
  </div>
  </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Last Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member1_ln , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Email" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member1_email , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Mobile Number" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member1_mobile , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"College Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member1_college , :class => "form-control" %>
  </div>
  </div>
  </div>
 
 <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Branch of Study" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member1_branch , :class => "form-control" %>
  </div></div>
  </div>
 

 <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Year" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
        <%= f.select :member1_year, options_for_select(["Select Year" , " First " , " Second" , "Third" , " Fourth" , "Fifth"]) , :class => "selectpicker"%>
  </div></div>
  </div>
 
 </div>
 
  <% end %>
    <% if params[:member].to_s == "2" || params[:member].to_s == "3" %>
  <h3> <center> Details of  Member 2</center>  </h3>
  <div class="row">
<div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"First Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member2_fn , :class => "form-control" %>
  </div>
  </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Last Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member2_ln , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Email" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member2_email , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Mobile Number" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member2_mobile , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"College Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member2_college , :class => "form-control" %>
  </div>
  </div>
  </div>
 
 <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Branch of Study" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member2_branch , :class => "form-control" %>
  </div></div>
  </div>
 

 <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Year" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
        <%= f.select :member2_year, options_for_select(["Select Year" , " First " , " Second" , "Third" , " Fourth" , "Fifth"]) , :class => "selectpicker"%>
  </div></div>
  </div>
 
 </div>
 
  <% end %>
    <% if params[:member].to_s == "3" %>
 <h3> <center>  Details of Member 3 </center>  </h3>
  <div class="row">
<div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"First Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member3_fn , :class => "form-control" %>
  </div>
  </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Last Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member3_ln , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Email" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member3_email , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Mobile Number" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member3_mobile , :class => "form-control" %>
  </div></div>
  </div>

  <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"College Name" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member3_college , :class => "form-control" %>
  </div>
  </div>
  </div>
 
 <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Branch of Study" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
    <%= f.text_field :member3_branch , :class => "form-control" %>
  </div></div>
  </div>
 

 <div class="col-md-8 col-md-offset-2">
   <div class="form-group row">
       <%= f.label :"Year" , :style => "font-size:18px;" , :class => 'col-xs-3' %>
        <div class="col-xs-9">
        <%= f.select :member3_year, options_for_select(["Select Year" , " First " , " Second" , "Third" , " Fourth" , "Fifth"]) , :class => "selectpicker"%>
  </div></div>
  </div>
 
 </div>
 
  <% end %>
  <div class="actions">
 

    <%= f.submit  "Submit Team" , :class => "btn btn-lg btn-primary pull-right" %>
 
  <br/><br/>
  </div>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
    $('form').submit(function() {
        var incomplete = $('form :input').filter(function() {
                             return $(this).val() == '';
                         });
        //if incomplete contains any elements, the form has not been filled 
        if(incomplete.length) {
            alert('please fill out the form');
            //to prevent submission of the form
            return false;
        }
     });
});</script>
