<div class="row">

<div class="panel" style="padding:20px;">

  

    <div class="panel-group" id="accordion">
        <div class="faqHeader">Frequently Asked questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is InQuest ?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    InQuest is an initiative to nurture research aptitude in the minds of students. Its first of its kind event where participants rigorously work to study a topic and express their mind driven intutive picture of the same. It aims to foster the growth of research as a community task where people can imagine innovate and inspire.

            <br/> <br/>
            In InQuest 2016 participants will probe into a topic of their choice. At the end of the given time they have to present their understanding of the concepts in the most original manner possible. One who investigates the topic with the entire coverage and appropriate depth will lift the winner's cup.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What if I don't have a team?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Keep calm and we will sort it out. We’ll have team formation on the day of the event or before.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#h"> Who can attend this event?</a>
                </h4>
            </div>
            <div id="h" class="panel-collapse collapse">
                <div class="panel-body">
                    All the enthusiastic minds who want to understand the working of the nature can participate irrespective of their year or branch.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"> What do I need to bring on the day of the event ?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    A curious mind ? Laptops and your favourite books and your coffee mug could be handy!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#a"> How much will it cost?</a>
                </h4>
            </div>
            <div id="a" class="panel-collapse collapse">
                <div class="panel-body">
                     Nothing at all! You will become rich from the knowledge you get through this event.
                </div>
            </div>
        </div>
<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#b"> What do I get by attending InQuest ?</a>
                </h4>
            </div>
            <div id="b" class="panel-collapse collapse">
                <div class="panel-body">
                     Goodies. Tshirts. Swags. That’s it ? NO ! You get a truckload of knowledge ! That’s what defines

InQuest. We will make sure you had 10 hours of real life scientist feel.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#c"> Do we get any refreshments?</a>
                </h4>
            </div>
            <div id="c" class="panel-collapse collapse">
                <div class="panel-body">
                     Of Course you do. Lunch and refreshments will be provided at the event.
                </div>
            </div>
        </div>
    </div>
     <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        For any queries regarding the event or registrations, you can contact SCOSH on <a href="https://www.facebook.com/scosh.svnit/">facebook </a>, <a href="https://www.twitter.com/scosh_svnit"> twitter </a> or send us an email at <a href="mailto:svnit.scosh@gmail.com">svnit.scosh@gmail.com </a>
    </div>
<h2><center>Register your team for this event </center></h2>

<div class="row">
<div class="col-md-4 well">
<%= link_to new_team_path(:member => "1") do %>
<%= image_tag("1.png", alt: "Edit Entry" , :class => 'img-circle img-responsive') %>  <% end %>
<h3><center>Participate Lone Bull</center> </h3>
</div>
<div class="col-md-4 well">
<%= link_to new_team_path(:member => "2") do %>

<%= image_tag("2.png", alt: "Edit Entry" , :class => 'img-circle img-responsive') %>
<% end %> 
<h3><center>Participating as Two</center> </h3>

</div>
<div class="col-md-4 well">
 
<%= link_to new_team_path(:member => "3") do %>

<%= image_tag("3.png", alt: "Edit Entry" , :class => 'img-circle img-responsive') %>
<% end %>
 <h3><center>Team Registration</center> </h3>

 </div>
</div>

<h2><center>15th October Schedule </center></h2>
<div class="row panel panel-default">
<div class="col-md-6">
<span id="docs-internal-guid-8f90d87d-96eb-0e46-1614-c6ab9d51aaff"><br />
</span>
<div dir="ltr" style="margin-left:1.0999999999999996pt;">
<table style="border: none; border-collapse: collapse; width: 366px; height: 215px;">
    <colgroup><col width="90" /><col width="211" /></colgroup>
    <tbody>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">08:30 am</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Meet us!!</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">08:45 am</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Basic Intro. To subtopics</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">09:00 am</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kick Start.</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">10:00 am</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;text-align: center;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;Tell us what will you &nbsp;work on.</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">12:00 noon</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mentor session </span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">01:00 pm</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lunch</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">02:00 pm</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back to work!</span></p>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
<div class="col-md-6">
<span id="docs-internal-guid-8f90d87d-96ee-56aa-0f08-ab60f43d277a"><br />
</span>
<div dir="ltr" style="margin-left:1.0999999999999996pt;">
<table style="border: none; border-collapse: collapse; width: 367px; height: 273px;">
    <colgroup><col width="90" /><col width="211" /></colgroup>
    <tbody>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">04:00 pm </span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Refreshments </span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">04:30 pm</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mentor session</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">05:30 pm</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Preparation of presentation</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">06:30 pm</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shortlisting teams</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">07:00 pm</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Presentations</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">08:00 pm</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Evaluation!</span></p>
            </td>
        </tr>
        <tr style="height:0px;">
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">08:30 pm</span></p>
            </td>
            <td style="border-style: solid; border-color: #000000; border-right-width: 1px; border-bottom-width: 1px; padding: 4px;">
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">      Prize distribution and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
            <p dir="ltr" style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 16px; font-family: 'Liberation Serif'; vertical-align: baseline; white-space: pre-wrap;">      Felicitation!!</span></p>
            </td>
        </tr>
    </tbody>
</table>
</div>
<br />
</div>
</div>
<h2><center>Proudly Sponsored by </center></h2>
<div class="row panel" style="padding:20px;">
<div class="col-md-4">
<br/><br/><br/><br/>
<a href="https://iconscout.com/" target="_blank">  <%= image_tag "spon1.png" , :style => "height: 100%;width: 100%;" %></a>

</div>
<div class="col-md-4">
<a href="https://hackinout.co/" target="_blank">
        <%= image_tag "spon2.png" , :style => "height: 100%;width: 100%;" %>
</a>
</div>
<div class="col-md-4">
<a href="http://www.captionlife.co.in/" target="_blank">
        <%= image_tag "spon3.png" , :style => "height: 60%;width: 60%;margin-left:20px;" %>
</a>
</div>
<div class="col-md-6">
        <%= image_tag "sponmain.jpg" , :style => "height: 100%;width: 100%;" %>

</div>
<div class="col-md-6"> 
        <%= image_tag "sponmain2.jpg" , :style => "height: 100%;width: 100%;" %>

</div>
</div>


</div>





<% if  params[:secret].to_s == "ppap" %>
<div class="panel panel-default">
<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Write up</th>
      <th>Write up2</th>
      <th>Foi</th>
      <th>Confirm</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.write_up %></td>
        <td><%= team.write_up2 %></td>
        <td><%= team.foi %></td>
        <td><%= team.confirm %></td>
        <td><%= team.members %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Team', new_team_path %>
<% end %>
