<div class="row">
<div class="panel panel-default"> 
<p class="alert alert-info"> InQuest is an initiative to nurture research aptitude in the minds of students. Its first of its kind event where participants rigorously work to study a topic and express their mind driven intutive picture of the same. It aims to foster the growth of research as a community task where people can imagine innovate and inspire. </p> 
<p class="alert alert-info"> 
In InQuest 2016 participants will probe into a topic of their choice. At the end of the given time they have to present their understanding of the concepts in the most original manner possible. One who investigates the topic with the entire coverage and appropriate depth will lift the winner's cup.
 </p>
</div>
</div>

<div class="row">
<div class="col-md-4 well">
<%= link_to new_team_path(:member => "1") do %>
<%= image_tag("1.png", alt: "Edit Entry" , :class => 'img-circle img-responsive') %>  <% end %>
<h3><center>Participate Lone Bull</center> </h3>
</div>
<div class="col-md-4 well">
<%= link_to new_team_path(:member => "2") do %>

<%= image_tag("2.png", alt: "Edit Entry" , :class => 'img-circle img-responsive') %>
<% end %> 
<h3><center>Participating as Two</center> </h3>

</div>
<div class="col-md-4 well">
 
<%= link_to new_team_path(:member => "3") do %>

<%= image_tag("3.png", alt: "Edit Entry" , :class => 'img-circle img-responsive') %>
<% end %>
 <h3><center>Team Registration</center> </h3>

 </div>
</div>



<% if  params[:secret].to_s == "ppap" %>
<div class="panel panel-default">
<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Write up</th>
      <th>Write up2</th>
      <th>Foi</th>
      <th>Confirm</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.write_up %></td>
        <td><%= team.write_up2 %></td>
        <td><%= team.foi %></td>
        <td><%= team.confirm %></td>
        <td><%= team.members %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Team', new_team_path %>
<% end %>
