<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Write up:</strong>
  <%= @team.write_up %>
</p>

<p>
  <strong>Write up2:</strong>
  <%= @team.write_up2 %>
</p>

<p>
  <strong>Foi:</strong>
  <%= @team.foi %>
</p>

<p>
  <strong>Confirm:</strong>
  <%= @team.confirm %>
</p>

<p>
  <strong>Members:</strong>
  <%= @team.members %>
</p>

<p>
  <strong>Member1 fn:</strong>
  <%= @team.member1_fn %>
</p>

<p>
  <strong>Member1 ln:</strong>
  <%= @team.member1_ln %>
</p>

<p>
  <strong>Member1 email:</strong>
  <%= @team.member1_email %>
</p>

<p>
  <strong>Member1 mobile:</strong>
  <%= @team.member1_mobile %>
</p>

<p>
  <strong>Member1 college:</strong>
  <%= @team.member1_college %>
</p>

<p>
  <strong>Member1 branch:</strong>
  <%= @team.member1_branch %>
</p>

<p>
  <strong>Member1 year:</strong>
  <%= @team.member1_year %>
</p>

<p>
  <strong>Member2 fn:</strong>
  <%= @team.member2_fn %>
</p>

<p>
  <strong>Member2 ln:</strong>
  <%= @team.member2_ln %>
</p>

<p>
  <strong>Member2 email:</strong>
  <%= @team.member2_email %>
</p>

<p>
  <strong>Member2 mobile:</strong>
  <%= @team.member2_mobile %>
</p>

<p>
  <strong>Member2 college:</strong>
  <%= @team.member2_college %>
</p>

<p>
  <strong>Member2 branch:</strong>
  <%= @team.member2_branch %>
</p>

<p>
  <strong>Member2 year:</strong>
  <%= @team.member2_year %>
</p>

<p>
  <strong>Member3 fn:</strong>
  <%= @team.member3_fn %>
</p>

<p>
  <strong>Member3 ln:</strong>
  <%= @team.member3_ln %>
</p>

<p>
  <strong>Member3 email:</strong>
  <%= @team.member3_email %>
</p>

<p>
  <strong>Member3 mobile:</strong>
  <%= @team.member3_mobile %>
</p>

<p>
  <strong>Member3 branch:</strong>
  <%= @team.member3_branch %>
</p>

<p>
  <strong>Member3 college:</strong>
  <%= @team.member3_college %>
</p>

<p>
  <strong>Member3 year:</strong>
  <%= @team.member3_year %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
